.links

  - red = [['remove_css_class', '#colored-element', 'background-green'], ['add_css_class', '#colored-element', 'background-red']]
  = button_to 'make red', action_turbo_power_index_path(params: { ary: red.to_json }), method: :post

  - green = [['remove_css_class', '#colored-element', 'background-red'], ['add_css_class', '#colored-element', 'background-green']]
  = button_to 'make green', action_turbo_power_index_path(params: { ary: green.to_json }), method: :post

  - history = [['push_state', 'my-custom-history']]
  = button_to 'push_state', action_turbo_power_index_path(params: { ary: history.to_json }), method: :post

#colored-element
