= turbo_frame_tag 'form' do
  = form_for @article do |f|
    = SecureRandom.hex(3)
    .field
      = f.label :title
      = f.text_field :title
    .field
      = f.label :description
      = f.text_area :description
    .actions
      = f.submit 'Save'
