%h1 Listing articles

%p
  Redirection here is handled by "turbo_redirect_to", which is
  %strong
    after successful update/creation,
  uses the redirect_to from #{link_to 'marcoroths turbo_power', 'https://github.com/marcoroth/turbo_power'} gem. This will break out of all frames!
  The flash notice is set in the traditional way like "flash[:notice] = ..." and retrieved when the layout renders.

%table
  %thead
    %tr
      %th Title
      %th Description
      %th
      %th
      %th

  %tbody
    - @articles.all.each do |article|
      %tr{ id: "article-#{article.id}", class: (article == last_saved_object ? 'is-last-saved-object' : nil) }
        %td= article.title
        %td= article.description
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= button_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }


%br

= link_to 'New Article', new_article_path

%hr
= button_to 'check turbo-stream haml', check_articles_path, method: :post
= button_to 'check turbo-stream ERB', check_erb_articles_path, method: :post
= button_to 'stream partials', test_stream_partials_articles_path, method: :post
