- if session[:user_id]
  %p.text-green
    You are logged in as #{current_user.name}
- else
  %p.text-red
    You are not logged in


%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Group
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td
          - if session[:user_id] == user.id
            %strong
              = user.name
          - else
            = user.name
        %td
          - if session[:user_id] == user.id
            %strong
              = user.group
          - else
            = user.group
        %td= button_to "login #{user.name}", login_user_path(user), method: :post, data: { turbo: false }
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to 'logout', logout_users_path
= link_to 'New User', new_user_path
