

%h1
  Turbo-Channel
- if session[:user_id]
  %p.text-green
    You are logged in as
    %strong
      %u
        = current_user.name
    group:
    %strong
      %u
        = current_user.group
- else
  %h2.text-red
    You are not logged in, so not all features will work here.
%hr
%h2
  channel_from / render_to_* methods
%p
  Please
  %strong
    open three browsers,
On 2 login with two different users from the same group and the third without login. Then click these buttons and see what happens.

- if session[:user_id]
  = button_to 'template to me', channel_template_to_me_path, method: :post
  = button_to "partial to authenticated group «#{current_user.group}»", channel_template_to_authenticated_group_path, method: :post
= button_to 'partial to all', channel_partial_to_all_path, method: :post
= button_to 'template to all', channel_template_to_all_path, method: :post
= button_to 'multiple to all', channel_multiple_to_all_path, method: :post
= button_to 'flash to me', channel_flash_test_path, method: :post
= button_to 'flash to all', channel_flash_test_path(to_all: true), method: :post

= turbo_frame_tag 'render-to-box'



%hr
%h2
  action_to_* methods
%p
  run commands from
  = link_to 'turbo_power gem', 'https://github.com/marcoroth/turbo_power'
  = button_to 'background green to all', channel_make_green_path, method: :post
  = button_to 'background red to all', channel_make_red_path, method: :post
  = button_to 'background red to me', channel_make_red_to_me_path, method: :post
  = button_to 'background red to authenticated group', channel_make_red_to_authenticated_group_path, method: :post

#colored-element


%hr
%h2
  Redirect
%p
  classic redirect from controller within a turbo-frame in parallel with sending partials by Turbo::StreamsChannel


= turbo_frame_tag 'redirect-box', src: channel_redirect1_path

%hr

%h2
  Class Methods
%p
  Doing the same like above, but with class methods instead of controller helpers
= button_to 'class method to box', channel_class_method_path
= turbo_frame_tag 'class-method-box'




