
#flash-box {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  display: flex;
  flex-direction: column;

  .callout {
    display: flex;
    min-width: 25rem;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0.2rem;
    .text-content {
      width: calc(100% - 2rem);
    }

    .close-button {
      width: 1.4rem;
    }
    &.alert {
      background-color: yellow;
      color: red;
      font-weight: bold;
    }
    &.success {
      background-color: #4ac23d;
      color: white;
      font-weight: bold;
    }
  }
}