#colored-element {
  width: 3rem;
  height: 3rem;
  background-color: lightgrey;
  margin: 1rem;
  border-radius: 0.2rem;
}

.background-red {
  background-color: red !important;
}

.background-green {
  background-color: green !important;
}