= turbo_frame_tag 'books-box' do
  %h1 Listing books

  %table
    %thead
      %tr
        %th Title
        %th
        %th
        %th

    %tbody
      - @books.each do |book|
        %tr
          %td= book.title
          %td= link_to 'Show', book
          %td= link_to "Edit#{book.id}", edit_book_path(book)
          %td= link_to 'Destroy', book, method: :delete, data: { turbo_method: :delete }

  %br

  = link_to 'New Book', new_book_path
