
= turbo_frame_tag 'svelte-box' do
  %hello-world{ title: "Svelte-Tag by channel #{SecureRandom.hex(2)}" }
  %p
    I could not get axios-http push call to work with a turbo-stream action, so this was done by channel.