%h1
  Svelte

%p
  Building it on top of a regular element, as described on #{link_to 'docs', 'https://svelte.dev/tutorial/making-an-app'}, would require an extra initialize step if pushed by turbo.
%p
  Svelte built with #{link_to 'svelte-tag', 'https://www.npmjs.com/package/svelte-tag'}, which builds it as a web component (but without shadow-dom!), can be built on first page load but rendered later.

%p
  See #{link_to 'tutorial', 'https://dev.to/chmich/setup-inertia-and-svelte-on-rails-7-3glk'}

= button_to 'push svelte-tag by turbo-stream', svelte_push_path, method: :post#, target: 'svelte-box'

#svelte-box
  svelte-box
