- unless current_user
  %h2.text-red
    You must login to see features by channel working!


%h1
  Update and create by Stream
%p
  Controller is loaded lazy (by parent frames src attribute)
%p
  Attention: The form is wrapped by div with id which is targeted by turbo-stream. If the form would be surrounded by turbo_frame the redirection of the outer turbo-frame after successful form submission would not work.
%p
  Because redirection is not possible along with turbo-stream response, Flash after successful form submission
  %strong
    is done by Channel!
  This is handled automatically by turbo_stream_save if configured to do so.
= turbo_frame_tag 'cars-box', src: cars_path

%h3
  Here are 2 additional features demonstrated:
%ul
  %li
    The controller action :update does not define a target-id! On rendering, turbo_stream_save gets it from the rendered partial, from the first turbo frame or element with the data_turbo_target attribute. This way you can define the target-id in a single place.
  %li
    There is no partial defined for the :create action! In this case turbo_stream_save uses the default template, treats it as a partial and renders it with turbo-stream, along with other partials like the flash message.

%h1
  Update and create by Channel
%p
  All Views must reside within a turbo_frame_tag with ID 'books-box'. Otherwise Turbo would not be able to handle the r  esponse.
%p
  If no
  %strong
    target_id
  argument is given to turbo_stream_save, and the config
  %strong
    allow_channel_to_me_for_turbo_stream_save
  is set to true, then the turbo_stream_save method will only
  %strong
    send the generated flash message and additional provided partials by channel,
  and will
  %strong
    not interfere the default render method
  so that the given templates (update/create) are rendered.
%p
  Create action does the minimum, update action adds a second flash and sets the element to green.

= turbo_frame_tag 'books-box', src: books_path

#colored-element

