<script>
    import getCSRFToken from '@shopify/csrf-token-fetcher';
    import axios from "axios";
    export let title;

    function handlePost () {
        axios.post('/svelte/push2', {authenticity_token: getCSRFToken()}).then(res => {
            console.log(res.data);
        })
    }
</script>

<h1>Hello {title}!</h1>
<button on:click={() => handlePost()}>post with CSRF Token by axios</button>

