#flash-box
  - (notice.is_a?(Array) ? notice : [notice]).compact.each do |notice|
    = render 'layouts/flash', success: true, message: notice
  - (alert.is_a?(Array) ? alert : [alert]).compact.each do |alert|
    = render 'layouts/flash', success: true, message: alert
