-# - message = ((locals[:message] rescue false) || local_assigns[:message])
-# - success = ((locals[:success] rescue false) || local_assigns[:success]  rescue false)
.callout{'data-closable' => true, data: { controller: 'flash', seconds: 3 }, class: ((success rescue false) ? 'success' : 'alert') }
  .text-content
    = message
  %button.close-button{'type' => 'button', 'data-close' => true }
    %span{ 'aria-hidden' => true }
      &times;
