!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RenderTurboStream
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application"
    = vite_stylesheet_tag 'application.scss', media: :all
    = vite_client_tag
    = vite_javascript_tag 'application'
    /

  %body
    = channel_from_me
    = channel_from_all
    = channel_from_authenticated_group(current_user&.group)
    #nav
      = link_to 'Artikel', root_path
      = link_to 'Turbo-Power', turbo_power_index_path
      = link_to 'CRUD inside frame', page_cars_path
      = link_to 'Channels', channel_redirect_path
      = link_to 'Users/Login', users_path
      = link_to 'Svelte', svelte_path
      = link_to 'Partials and variables', partials_index_path
    = render 'layouts/flashes'
    = yield